body {
  background-color: #CCCCC2;
  color: #4C4C49;
  font: 18px 'Gill Sans';
}

a {
  color: #777772;
}

#search {
  float: right;
}

#search span {
  float: left;
  font-size: 130%;
  margin-top: 6px;
  margin-right: 12px;
  color: #CCCCC2;
}

#search input {
  float: right;
  font-size: 100%;
  margin-top: 6px;
}

#main {
  width: 940px;
  margin: auto;
  background: #4C4C49 url(images/bg.png) repeat-x top left;
  color: #FFFFFF;
  padding: 6px;
}

#contact_list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  border: 1px solid #ccccc2;
  color: #4C4C49;
  clear: both;
}

#contact_list li {
  background-image: url(images/arrow-right.png);
  background-repeat: no-repeat;
  background-position: 3px center;
  padding: 6px 6px 6px 24px;
}

#contact_list li img {
  margin-right: 12px;
}

#contact_list .toolbar { float: right; }

#contact_details {
  clear: both;
  border: 1px solid #ccccc2;
  color: #4C4C49;
  background-color: #DDDDD2;
  padding: 6px;
}

#contact_details h1 {
  padding: 0;
  margin: 0;
  font-size: 130%;
}

#contact_details .toolbar {
  padding: 0;
  margin: 0;
  font-size: 80%;
  
}

#contact_form {
  clear: both;
  padding: 12px;
  border: 1px solid #ccccc2;
  color: #4C4C49;
  background-color: #DDDDD2;
  margin: 0;
}

#contact_form label {
  display: block;
  width: 75px;
  float: left;
}

#contact_form input {
  font-size: 100%;
}

dl { 
  margin: 6px;
  border: 1px solid #ccc;
  padding: 12px;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: #225588;
}

dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

.main_toolbar {
  padding-left: 6px;
  clear: both;
  margin-bottom: 12px;
}

.main_toolbar a:link, .main_toolbar a:visited {
  color: #ccccc2;
}

.main_toolbar a:hover {
  color: white;
}

.name {
  float: left;
}

.odd { 
  background-color: #AAAAA4;
}

.even {
  background-color: #DDDDD2;
}

.clear {
  clear: both;
}

.logo {
  font-weight: normal;
  font-size: 175%;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  margin-left: 6px;
  float: left;
}